*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}


#navbar {background-color: rgb(117, 69, 69); padding: 10px;}
#navbar ul {list-style-type: none;}

#navbar ul li a{color: aliceblue; text-decoration: none;}

.intro p {color: rgb(0, 255, 102);}
/* link it to your html firstbefore external styling
selector target specific html elements that you want to style */

.zindua .intro h1 {color: rgb(0, 139, 86); text-align: center;}


.zindua .heading{text-align: center; color: red;}

.zindua .heading::before{content: "@"; color: orange;}

.zindua .intro p {font-size: 20px; color: coral;}
/* what you wrote last takes precedence over the previous style code
but inline styling takes precedence over all 
Target blank open in another tab*/
a[target="_blank"]:hover {
    transform: scale(0.95);
    color: rgb(230, 220, 200); font-weight: bold;
    background-color: rgb(17, 35, 35);
}
a:active {
    color: yellow;
    background-color: rgb(248, 246, 246);
    font-weight: bold;
} 
 div{color: cadetblue;} /* applies to everything in the div */
div > p{color: burlywood;} /*applies to direct children only
you create a new css file for diffrent files by saving it with css extentions
then link it to your html file using link tag in the head section*/

